<div style="display: flex; justify-content: space-between">
  <div style="display: flex; align-items: center">
    <h3 style="margin: 0px">
      <span>
        {{ isUpdate ? "Yaziyi Güncelle " : " yaziyi görümtüle" }}
      </span>
    </h3>
  </div>
  <button mat-button (click)="close()" style="font-size: 24px">X</button>
</div>
<mat-divider class="mb-2"></mat-divider>
<div *ngIf="!isUpdate">
  <div class="row mb-5">
    <div class="col-md-6" style="padding-left: 0px">
      <img src="assets/images/image{{ imageUrl }}.jpg" class="w-100" />
    </div>
    <div class="col-md-6">
      <h2>{{ title }}</h2>
      <p>{{ body }}</p>
    </div>
  </div>
  <div
    class="row mt-3"
    style="background-color: lightgrey; padding: 20px"
    *ngFor="let comment of commentData"
  >
    <div class="col-md-2">
      <img
        src="assets/images/profile/profile{{ comment.userId }}.jpg"
        style="width: 30px; border-radius: 50%"
      />
    </div>
    <div class="col-md-10">
      <h3>{{ comment.name }}</h3>
      <p>{{ comment.body }}</p>
    </div>
  </div>
</div>
<div *ngIf="isUpdate">
  <form [formGroup]="form" style="min-width: 350px">
    <div class="container">
      <div class="row">
        <mat-form-field>
          <mat-label>Blog Basligi</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Blog content</mat-label>
          <textarea
            matInput
            formControlName="body"
            cols="30"
            rows="10"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button
        mat-raised-button
        [disabled]="!form.valid"
        color="primary"
        (click)="onSubmit()"
      >
        Güncelle
      </button>
    </div>
  </form>
</div>
